body{
    background: url(assets/mama.png) no-repeat center center fixed;
    background-size: cover;
}

h1 { 
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #1e2124;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


