@font-face {
    font-family: 'logofont';
    src: url('Web437_Master_512_bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SN Pro";
    src: url(SNPro-Variable.woff2) format("woff2-variations");
    font-weight: 200 900;
    font-style: normal;
}

html {
    background-color: #0c0d12;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #0c0d12;
    color: #fff;
    font-family: "SN Pro";
    font-weight: 600;
}

.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

.loading-spinner {
    border: 4px solid #7289da;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    position: relative;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 300px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#discord-widget {
    width: max-content;
    min-width: 350px;
    align-items: center;
    gap: 15px;
    max-width: 350px;
}

#user-info {
    text-align: center;
    flex: 1;
}

#avatar-container {
    position: relative;
    display: inline-block;
}

#avatar {
    width: 80px;
    border-radius: 50%;
}

#custom-status {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 4px;
}

#username {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

#username:hover {
    color: #99aab5;
}

.status-cafe {
    font-size: 14px;
    cursor: pointer;
    background: #1a1b22;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: max-content;
    box-sizing: border-box;
    text-align: center;
}

.status-cafe .author {
    color: #B58D8D;
    font-weight: 600;
}

.status-cafe .status-text {
    color: #ffffff;
}

.status-cafe:hover .author {
    color: #E78A8A;
}

.status-cafe:hover .status-text {
    color: #99aab5;
}

.status-cafe .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    display: inline-block;
}

.status-cafe:hover {
    color: #677bc4;
}

#activity-container {
    flex: 2;
}

#activity {
    font-size: 14px;
    color: #99aab5;
}

#activity-cover {
    margin-bottom: 8px;
}

#progress-container {
    width: 100%;
    height: 6px;
    background-color: #444;
    border-radius: 5px;
    margin-top: 8px;
    position: relative;
}

#progress-bar {
    height: 100%;
    background-color: #B58D8D;
    border-radius: 5px;
    width: 0%;
    transition: width 1s linear;
}

#time-info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 12px;
    color: #99aab5;
}

#discord-widget.no-activity {
    justify-content: center;
    text-align: center;
}

#discord-widget.no-activity #activity-container {
    display: none;
}

#avatar-container::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid #1a1b22;
    background-color: #747f8d;
}

#avatar-container.online::after {
    background-color: #43b581;
}

#avatar-container.idle::after {
    background-color: #faa61a;
}

#avatar-container.dnd::after {
    background-color: #f04747;
}

#avatar-container.offline::after {
    background-color: #747f8d;
}

header {
    font-family: 'logofont';
    font-size: 33px;
    line-height: 1.2;
    color: #b83c30;
    text-align: center;
    margin-bottom: 50px;
}

.time, .theme-toggle, .visit-counter, .fol-counter, .profile, .links, .discord-activity, .last-played, .bottom, .button-preview, #discord-widget, #status-cafe  {
    display: flex;
    background: #1a1b22;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    justify-content: center;
}

.counters{
    display: flex;
    justify-content: center;
    gap: 15px
}

.visit-counter a{
    color: #E78A8A;
}

.fol-counter a{
    color: #E78A8A;
}

.visit-counter{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    width: 77px;
}

.fol-counter{
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    width: 77px;
}

.button-preview a{
    font-size: 16px;
    margin-left: 15px;
    margin-top: 5px;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 400px;
    margin-top: 10px;
}
.profile{
    text-align: center;
} 

.links {
    font-size: 20px;
    flex-direction: column;
    padding: 26px;
    gap: 20px;
}

.links a:hover{
    color: #99aab5;
}

.links a{
    text-decoration: none;
    color: #ffffff;
}


.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}
.mood, .status {
    background: #1a1b22;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #b8b8b8;
}

.last-played img{
    display: block; 
    width: 80px; 
    border-radius: 10px;
}

.right-container, .left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-played{
    display: flex;
    gap: 20px;
    
    align-items: center; 
    justify-content: center; 
}


.last-played.loading #lastfm-loading-spinner {
    display: block;
}

.last-played.loading #last-activity-cover,
.last-played.loading #last-played-info {
    display: none;
}

.last-played:not(.loading) #lastfm-loading-spinner {
    display: none;
}

.last-played:not(.loading) #last-activity-cover {
    display: block; 
}

.last-played:not(.loading) #last-played-info {
    display: flex; 
}


#last-played-title{
    font-size: 14px;
    padding-top: 1px;
    margin-bottom: 5px;
    color:#B58D8D;
    flex: 0 0 auto;
}

#last-artist{
    font-weight: 600;
    font-size: 14px;
}

#last-hours-ago{
    margin-top: 5px;
    font-size: 12px;
    color: #6F6F6F;
    font-weight: 600;
    font-size: 13px;
}

.content-widget {
    font-family: Arial, sans-serif;
    background-color: #1a1b22;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    box-sizing: border-box;
}

.content-info {
    text-align: center;
    flex: 1;
}

.content-title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}

.content-details {
    font-size: 14px;
    color: #99aab5;
    margin-top: 5px;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 400px;
    margin-top: 10px;
    width: 100%;
    max-width: 1100px; 
}

header {
    font-family: 'logofont';
    font-size: 33px;
    line-height: 1.2;
    color: #b83c30;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center; 
}

.header-content {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    width: 103%;
    position: relative; 
}

h1 {
    margin: 0;
    text-align: center;
    position: relative;
    left: -30px; 
}

.utc-clock-widget {
    background: #1a1b22;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; 
    right: 20px; 
    top: 0;
            font-family: "SN Pro";
}

#utc-time {
    color: #E78A8A;
    font-size: 20px;
}

.utc-label {
        color: #ffffff;
    font-size: 16px;
}

.button-preview a{
    text-decoration: none;
    color: white;
    
}

.button-preview a:hover{
    color: #99aab5;
    
}


.bottom{
    align-items: center;
    gap: 8px;
}

.bottom, a{
    max-height: 31px;
}


@media (max-width: 600px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    .main {
        gap: 20px;
    }
    .truncate {
        max-width: 150px;
    }
}
